<div class="modal fade" id="glazingPopup" tabindex="-1" role="dialog" aria-labelledby="glazingPopupLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="glazingPopupLabel">Glazing Bars Settings</h4>
      </div>
      <div class="modal-body">
        <div class="glazing-bars-controlls">
          <label>
            Vertical bars: <input type="number" id="vertical-bars-number" value="0">
          </label>
          <label>
            Horizontal bars: <input type="number" id="horizontal-bars-number" value="0">
          </label>
        </div>
        <div class="modal-drawing"></div>
      </div>
    </div>
  </div>
</div>
