<div class="drawing-controls">
    <button class="btn btn-xs" id="undo">Undo</button>
    <button class="btn btn-xs" id="redo">Redo</button>
    <button class="btn btn-xs" id="clear-frame">Clear frame</button>
    <button class="btn btn-xs" id="change-view-button">Show outside view</button>
    <div id="drawing-view-title">Outside view</div>

    <div id="section_control">

        <span class="toggle-arched">
            <img class="add-arched" src="/static/public/img/add_arched_section.png"/>
            <img class="remove-arched" src="/static/public/img/remove_arched_section.png"/>
        </span>

        <span class="toggle-circular">
            <img class="add-circular" src="/static/public/img/add_circular_section.png"/>
            <img class="remove-circular" src="/static/public/img/remove_circular_section.png"/>
        </span>

        <span class="split">
            Split section:
            <img class="split-section" data-type="vertical" src="/static/public/img/vertical_mullion.png"/>
            <img class="split-section" data-type="horizontal" src="/static/public/img/horizontal_mullion.png"/>
            <img class="split-section" data-type="vertical_invisible" src="/static/public/img/vertical_invisible_mullion.png"/>
            <img class="split-section" data-type="horizontal_invisible" src="/static/public/img/horizontal_invisible_mullion.png"/>
        </span>
        <span class="sash-types">
            Section type:
            <img class="change-sash-type" data-type="tilt_turn_left" src="/static/public/img/tilt_turn_left.png"/>
            <img class="change-sash-type" data-type="tilt_turn_right" src="/static/public/img/tilt_turn_right.png"/>
            <img class="change-sash-type" data-type="fixed_in_frame" src="/static/public/img/fixed_in_frame.png"/>
            <img class="change-sash-type" data-type="tilt_only" src="/static/public/img/tilt_only.png"/>
            <!-- <img class="change-sash-type" data-type="tilt_only_top_hung" src="/static/public/img/tilt_only_top_hung.png"/> -->
            <img class="change-sash-type" data-type="turn_only_left" src="/static/public/img/turn_only_left.png"/>
            <img class="change-sash-type" data-type="turn_only_right" src="/static/public/img/turn_only_right.png"/>
            <img class="change-sash-type" data-type="fixed_in_sash" src="/static/public/img/fixed_in_sash.png"/>

            <img class="change-sash-type" data-type="slide_left" src="/static/public/img/sash_slide_left_1.png"/>
            <img class="change-sash-type" data-type="slide_right" src="/static/public/img/sash_slide_right_1.png"/>

            <img class="change-sash-type" data-type="turn_only_left_hinge_hidden_latch" src="/static/public/img/turn_only_left_hinge_hidden_latch.png"/>
            <img class="change-sash-type" data-type="turn_only_right_hinge_hidden_latch" src="/static/public/img/turn_only_right_hinge_hidden_latch.png"/>

            <img class="change-sash-type" width="30" height="33" data-type="tilt_slide_left" src="/static/public/img/tilt_slide_left_1.png"/>
            <img class="change-sash-type" width="30" height="33" data-type="tilt_slide_right" src="/static/public/img/tilt_slide_right_1.png"/>

        </span>

        <br class="drawing-ui-divider">

        <span class="filling-type">
            Filling:
            <select id="filling-select" class="selectpicker show-tick" title="Choose filling type" data-live-search="true">
            {{#each filling_types }}
                {{#if name }}<option value="{{ cid }}" data-subtext="{{ type }}">{{ name }}</option>{{/if}}
            {{/each }}
            </select>
        </span>

        <span id="bars-control" class="bars-control">
            <button class="btn btn-xs" id="glazing-bars-popup">Set Glazing Bars</button>
        </span>

        <span class="additional-metrics">
            <br class="drawing-ui-divider">
            Show overlay metrics:
            <label for="additional-metrics-glass">
                <input
                    name="additional-metrics-glass"
                    id="additional-metrics-glass"
                    type="checkbox"
                    value="1"
                    class="radio"
                >
                Glass size
            </label>
            <label for="additional-metrics-opening" id="additional-metrics-opening--label">
                <input
                    name="additional-metrics-opening"
                    id="additional-metrics-opening"
                    type="checkbox"
                    value="1"
                    class="radio"
                >
                Vent Opn. Size
            </label>
        </span>


    </div>
</div>

<div id="drawing" class="drawing-area" tabindex="0"></div>
