<div class="container">
    <div class="row dashboard-row">
        <div class="col-md-4">
            <div id="totals">
            </div>
        </div>
        <div class="col-md-4">
            <div id="project-info">
            </div>
        </div>
        <div class="col-md-4">
            <div id="documents">
            </div>
        </div>
    </div>
    <div class="row dashboard-row">

    </div>
</div>
