<div class="supplier-request-outer-container">

    <div class="controls-container">
        <a href="{{ urlToDownloadPdf }}" target="_blank" class="btn download-pdf">Download PDF</a>
    </div>

    <div class="supplier-request-container">
        <div class="supplier-request-header-container"></div>
        <div class="supplier-request-table-container"></div>
    </div>
</div>
