<div class="no-project-selected-message-area">
    <p class="welcome-notice">Hey! Nice to see you in our app. <br><small>Please start by selecting a Project from the list at the top.</small></p>
</div>
