<div class="top-bar-container">
    <div class="float-center" >
        <div class="float-center-child">
            <div class="project-selector-container"></div>
            <div class="create-project-container">
                <a class="create-project-button">Create project</a>
            </div>
            <div class="project-settings-toggle-container">
                <button class="btn project-settings-toggle glyphicon glyphicon-cog{{#if is_settings_toggle_disabled }} disabled{{/if}}"></button>
            </div>
            <div class="spinner-container"></div>            
            <div style="clear: both;"></div>
        </div>
    </div>
    <!--div class="enable-comment-container">                
        <a class="enable-comments-button">Comment Tool</a>
    </div-->    
    <div class="status-panel-container"></div>
</div>
