<div class="filling-types-table-title">
    <h3>Filling Types</h3>
    <div class="filling-types-table-controls">
        <button class="btn btn-xs js-undo">Undo</button>
        <button class="btn btn-xs js-redo">Redo</button>
        <button class="btn js-remove-selected-items remove-selected-items disabled"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Remove</button>
        <button class="btn js-clone-selected-items clone-selected-items disabled"><span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span> Clone</button>
        <button class="btn add-new-filling-type js-add-new-filling-type">Add new filling type</button>
    </div>
</div>
<div class="filling-types-table-scroll-wrapper">
    <div class="filling-types-handsontable-container"></div>
</div>
