<div class="dictionary-inputs-container">
    <div class="dictionary-name">
        <h2>Dictionary Name</h2>
    </div>

    <div class="dictionary-restrictions">
        <h3>Rules and Restrictions</h3>
    </div>
</div>

<div class="dictionary-actions">
    <button class="btn remove-dictionary js-remove-dictionary">
        <span class="glyphicon glyphicon-remove"></span>
        <span>Remove dictionary</span>
    </button>
</div>

<div class="entry-table-container"></div>
