<td class="entry-drag">
    <span class="glyphicon glyphicon-move"></span>
</td>
<td class="entry-name"></td>
<td class="entry-profiles">
    <p>{{ profiles_string }}</p>
    <button class="edit-entry-profiles js-edit-entry-profiles" title="Edit availability">
        <span class="glyphicon glyphicon-pencil"></span>
    </button>
</td>
<td class="entry-clone">
    <button class="clone-entry js-clone-entry" title="Clone entry">
        <span class="glyphicon glyphicon-duplicate"></span>
    </button>
</td>
<td class="entry-remove">
    <button class="remove-entry js-remove-entry" title="Remove entry">
        <span class="glyphicon glyphicon-trash"></span>
    </button>
</td>
