<a class="{{#if is_active }}is-active{{/if}}{{#if show_placeholder}} is-placeholder{{/if}}">
    {{ readable_name }}
    {{#if is_active }}<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>{{/if}}
</a>
