<div class="profiles-table-title">
    <h3>Profiles</h3>
    <div class="profiles-table-controls">
        <button class="btn btn-xs js-undo">Undo</button>
        <button class="btn btn-xs js-redo">Redo</button>
        <button class="btn js-remove-selected-items remove-selected-items disabled"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Remove</button>
        <button class="btn js-clone-selected-items clone-selected-items disabled"><span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span> Clone</button>
        <button class="btn add-new-profile js-add-new-profile">Add new profile</button>
    </div>
</div>
<div class="profiles-table-scroll-wrapper">
    <div class="profiles-handsontable-container"></div>
</div>
