<div class="panel panel-default">
    <div class="panel-heading">
       <div class="pull-right">
           {{#if editMode}}
               <button class="btn btn-default toggle-edit-mode" title="Save Project Info"><span class="glyphicon glyphicon-floppy-saved"></span> </button>
           {{else}}
               <button class="btn btn-default toggle-edit-mode" title="Edit Project Info"><span class="glyphicon glyphicon-pencil"></span> </button>
           {{/if}}
       </div>
        <div class="pull-left">
            <h2 class="panel-title pull-left" style="line-height: 30px;">Project Info</h2>
        </div>
        <div class="clearfix"></div>
    </div>
    <div id="project-info-content" class="panel-body">
    </div>
</div>
